@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main-container {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.main-content {
    flex: 8;
    overflow-y: auto;
}

.items-header {
    text-align: center;
    margin-bottom: 20px;
}

.items-header h2 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Kosugi', sans-serif;
    color: #333;
}

.items-header span {
    font-family: 'Kosugi', sans-serif;
    font-size: 20px;
    color: #666;
}

#checkout {
    margin: 20px;
}

#cartModal {
    font-family: 'Kosugi', sans-serif;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-input {
    width: 30px;
    text-align: center;
}

.cart-item img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 5px;
}